.modal-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.modal-content {
    background-color: white; 
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #333;
    display: grid; 
    justify-content: center;
}
.modal-content h2{
    display: grid;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Impact'; 
    font-size: 2.5vw;
}
.setting-item{
    padding-bottom:1em;
    display: grid;
}
.setting-item label{
    font-weight: lighter;
}
.modal-content input{
    margin:1em;
    border-radius: 20vw;
    padding:15px;
}
.modal-content button{
    border-radius: 20vw;
    padding:15px;
    font-family: 'Impact';
    border-style: none;
    font-size: 2vw;

    transform: translateY(0);
    transition: all 0.1s ease;
}

